.red{
  color: red;
  background-color: rgb(240, 163, 14);
  display: inline-block;
  /* margin: 30px; */
  /* Float does not inherit */
  /* float: left; */
  /* Margin does not inherit */
  /* margin: 0; */
}
p.green{
  background-color: green;
  /* display: inline; */
  /* float: left; */
  /* margin: 0; */
  /* margin: auto; */
}
p{
  color: blue;
  /* display: inline; */
  /* float: right; */
}
span{
  /* float: right */
  /* display: block; */
}


/* ===Equal specificity means CSS order wins=== */
.box{
  width: 300px;
  height: 300px;
  background-color: rgb(255, 120, 23);
}

div .inner-box {
  width: 40%;
  height: 40%;
  background-color: rgb(255, 183, 23);
}

.box div{
  /* width: 100%; */
  background-color: blue;
}

div.box{
  background-color: green;
}

div.inner-2{
  height: 30px;
  background-color: red;
}

/* ===No comma in html=== */
.a1{
  color: turquoise;
}
.a2{
  font-size: 38px;
}
