



/* ==="h2" > "div, h2"=== */
/* div, h2{color: red;}
h2{color: green;} */

/* ==="h2 href" > "div h2" > "h1, h2, h3"
      "h2[att] > "h2"                    === */
/* div h2{color: red;}
h1, h2, h3{color: green;}
h2{color:cyan;}
h2[href]{color:orange;} */

/* ==="p" targets child span ... "div>span" does not */
/* p{color: red;}
div>span{color: blue;} */

/* ==="p.p-green" > "div .pgreen" */
/* div .p-green{color:cyan}
p.p-green{color: green} */

/* ==="id element" = "element id" ... CSS order wins */
#id-blue p{color:blue}
div #id-orange{color: orange}
